// fonts
$font-roboto: 'Roboto', sans-serif;
$font-roboto-slab: 'Roboto Slab', serif;

// colors
$dark-grey-blue: #304268;
$white: #ffffff;
$greyish-brown: #4a4a4a;
$k: #000000;
$c: #f26002;
$ice-blue: #eff9ff;
$k-50: rgba(0, 0, 0, 0.5);
$lightblue: #8ccbea;
$cerulean: #0271bc;